
header {
    display: flex;
    justify-content: space-around;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
    font-weight: 500;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin-left: -10px;
    backdrop-filter: blur(9px) saturate(187%);

    position: fixed;
    top: 0;
    z-index: 200;
    transition: 1s;
}

.lightheader {
    -webkit-backdrop-filter: blur(9px) saturate(187%);
    background-color: rgba(255, 255, 255, 0.31);
    border: 1px solid rgba(209, 213, 219, 0.3);
}
.darkheader {
    -webkit-backdrop-filter: blur(9px) saturate(187%);
    background-color: rgba(32, 31, 31, 0.31);
    border: 1px solid rgba(209, 213, 219, 0.3);
    color: white;
}
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        margin-left: -220px;
        width: 150%;
    }
}
.logo {
    font-size: 28px;
}

ul li {
    list-style: none;
    padding-left: 15px;
}
ul li a {
    text-decoration: none;
    color: black;
}
ul {
    display: flex;
}