
  .mode {
    position: absolute;
    top: 25px;
    right: 25px;
    display: inline-block;
    width: 60px;
    height: 34px;
    z-index: 300;
  }
  .mode input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .check {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.5s;
    border-radius: 34px;

  }
  .check:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #f8f8f83d;
    background: white url('../images/moon.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

  }  


  input + .check {
    background: linear-gradient(
        to right, 
        hsl(98 100% 62%), 
        hsl(204 100% 59%)
      );  }
  

  
  input:checked + .check:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('../images/soleil.png');
    background-repeat: no-repeat;
    background-position: center;
  }